arxiv
duckduckgo-search
faiss-cpu
fastapi
furo
gTTS
Jinja2
langchain
openai
pandas
pdfplumber
pinecone-client
sphinx
sphinx-autobuild
streamlit
tenacity
tiktoken
unstructured[local-inference]
uvicorn[standard]
websockets
wikipedia
xata