arxiv
duckduckgo-search
faiss-cpu
fastapi
gTTS
Jinja2
langchain
openai
pandas
pdfplumber
pinecone-client
streamlit
tenacity
tiktoken
unstructured[local-inference]
uvicorn[standard]
websockets
wikipedia
xata