arxiv
boto3
cohere
duckduckgo-search
faiss-cpu
fastapi
google-cloud-bigquery
gTTS
Jinja2
langchain
openai
pandas
pdfplumber
pinecone-client
sphinx
sphinx-autobuild
sphinx-rtd-theme
streamlit
tenacity
tiktoken
unstructured[local-inference]
uvicorn[standard]
websockets
wikipedia
xata